span {
  background-color: red;
  display: block;
  height: 100px;
}

p {
  background-color: yellow;
  height: 1000px;
  display: inline;
}

strong {
  background-color: blue;
  color: white;
  height: 1000px;
  display: inline-block;
}
