div.kotak {
  background-color: black;
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  line-height: 100px;
  /* PADDING */
  /* padding: 50px 40px 30px 20px; */
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 20px;

  /* BORDER */
  /* 
    Pattern Border :
    border: ketebalan jenis warna;

    border-width : (px);
    border-style: solid, ...;
    border-color: warna;

    Note : 
    -. Jenis : solid, dashed, dotted, outset,inset, double,... 
  */
  border: 10px solid rgb(255, 0, 0);

  /* MARGIN */
  /* margin: 50px 20px 20px 100px; */
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
}

div.bulat {
  width: 50px;
  height: 50px;
  background-color: yellow;
  text-align: center;
  line-height: 50px;
  border-radius: 50% 50% 50% 0%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
